.experience-container {
    margin: 0 0 100px 0;
    width: 100%;
    text-align: center;

    .experience-item {
        margin-bottom: 15px;
    }

    .experience-icon {
        size: 50%;
        margin-bottom: 15px;
        @media (min-width: 1200px) {
            size: 100%;
        }
    }

    .experience-role {
        font-size: 1.5em;
        margin: 10px 0 15px 0;
    }

    .experience-description {
        padding: 1em 6.5em;
        font-size: 1.1em;
        @media (min-width: 769px) {
            padding: 0px;
        }
        a,
        .link{
            color: tomato;
        }
        a:hover{
            color: #6470C6;
            text-decoration: none;
        }
    }
}