.intro-container {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    .intro-text-wrap {
        padding-left: 12.5%;
        padding-right: 30%;
    }

    h1 {
        font-size: 3em;
    }
    .intro-name {
        font-size: 2em;
        margin-bottom: 15px;
    }

    .intro-selfintro {
        font-size: 1.4em;
        margin-bottom: 20px;
    }

    .button {
        font-size: 1.4em;
        border: 0;
        color: white;
        background-color: #8490E6;
        background-image: unset;
        border-radius: 0;
        box-shadow: unset;
        padding: 10px 20px;
    }
}
