.section-title {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    line-height: 1.6rem;
    color:#8c8e96;
    border-bottom: 1px solid #e8e8ea;
    margin-bottom: 1.2rem;
    padding-bottom: 0.6rem; 
}

#modal-container label.btn {
    border: 0;
    border-bottom: 0;
    background-color: #FFF;
    border-radius: 0;
    background-image: unset;
    box-shadow: unset;
}

#modal-container label.btn.active {
    color: tomato;
}

#modal-container label.btn:hover {
    color: orange;
}