@import '../shared/card-style.less';
 
 .project-preview-item {
    .project-card();
    
    .project-preview-text-container {
        padding: 0.5em;
        
        .title {
            font-size: 1.2em;
        }
        
        .subtitle {
            font-size: 1em;
            min-height: 4em;
            padding: 0.5em 0 0.8em 0;
        }
        
        .role {
            font-size: 0.8em;
            color: teal;
        }
        
        .description {
            font-size: 14px;
            max-height: 80px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .tags {
            font-size: 0.7em;
            color: #999;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            position: 'absolute';
            bottom: '0px'
        }
    }
}

 


