@import '../shared/card-style.less';

 .project-list-content {
     margin: 40px 0 100px 0;

     .project-section-title {
        text-align: center;
        font-size: 2em;
        margin-bottom: 30px;
    }

     .filter-item-container {
       .project-card();

       padding: 30px 15px 20px 15px;
       background-image: url(/assets/filter-card.png);
       background-size: cover;
       background-position: right 0px bottom 0px;
       color: #fff;
     }
    
     .edit-filter-button {
        position: relative;
        font-size: 1.2em;
        border: 0;
        color: white;
        background-color: #74AB9A;
        background-image: unset;
        box-shadow: unset;
        padding: .7em 2em;
        border-radius: 0.2em;
        &:hover {
            background-color:rgb(105, 155, 139);
        }
     }
 }
 
 
    

