@import './header/index.less';
@import './footer/index.less';
@import './components/work-experience/index.less';
@import './components/kate-style-components/kate-style.less';
@import './components/contact-me-section.less';
@import './components/project-list.less';
@import './components/project-preview.less';

@font-face {
  font-family:'MyFont';
  src: url('') format('');
  font-weight: 300;
  font-style: normal;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('./fonts/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v5-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

.portfolio-top-container{
  font-family: 'Poppins',  sans-serif;
}